@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

.input{
    height: 15vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 4em;
    background-color: #181818;
    color: white;
    padding: 0.5em;
    outline: none;
}