@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

.input{
    height: auto;
    width: 100%;
    word-wrap: break-word;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 2em;
    background-color: #181818;
    color: white;
    padding: 0.5em;
    outline: none;
    border: none;
    resize: none;
}