@import url('https://fonts.googleapis.com/css2?family=Rubik:wgh@400;500;600&display=swap');

body{
    background-color: #a4a3a5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app{
    margin-top: 4vh;
    background-color: #181818;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding-top: 10px;
    width: 25vw;
    padding-bottom: 10px;
}

.calc-container{
    width: 275px;
    height: auto;
}

.row{
    
    display: flex;
    width: 100%;
}

.empty{
    height: 46px;
    width: 46px;
}